@import "tailwindcss";

@theme {
  /* color */
  --color-myApp-green: #4AB87D;
  --color-myApp-blue: #459EC1;
  --color-myApp-blueLight: #74C4D6;
  --color-myApp-blueDark: #217E9F;
  --color-myApp-cream: #FBFAF0;
  --color-myApp-red: #D16060;
  --color-myApp-orange: #E9AB47;
  --color-myApp-yellow: #F7D361;
  --color-myApp-pink: #E27EA6;
  --color-myApp-pinkLight: #EDA2C0;
  --color-myApp-white: #FFFFFF;
  --color-myApp-black: #262626;
  --color-myApp-shadow: #E1E1E1;
  --color-myApp-grey: #D2D2CB;

  /* font */
  --font-sans: var(--font-ibm-plex-thai);

  /* font sizes */
  --text-bigTitle: 28px;
  --text-title: 18px;
  --text-nav: 14px;
  --text-body: 12px;
  --text-body-changed: 13px;
  --text-button: 13px;
  --text-smallBody: 10px;
  --text-smallTitle: 11px;
  --text-smallButton: 9px;
  --text-smallestBody: 6px;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--color-myApp-cream);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}

button, input, select, textarea {
  font-family: inherit;
}

/* date form */
.date-empty {
  color: var(--color-myApp-shadow);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0.8;
  filter: invert(55%) sepia(40%) saturate(500%) hue-rotate(170deg);
}
